<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div style="position:absolute; width:200px; height:200px; top:50px; left:50px;">
    <a href = "https://kauth.kakao.com/oauth/authorize?client_id=1d898da97758eca206989c9aa2654296&redirect_uri=http://localhost:8080/oauth&response_type=code">
        <img src="../static/lib/img/kakao_account_login_btn_medium_narrow.jpg">
    </a>
</div>

</body>
</html>